html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    background-color: #FBFAFB;
    overflow-x: hidden;
}

.ruan-media {
    padding-top: 24px;
    width: calc(100% - 244px);
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 244px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.post-cascade {
    margin-top: 20px;
    width: 630px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.post-container {
    padding-top: 16px;
    box-shadow: 0 1px rgba(0, 0, 0, 0.15);
    padding-bottom: 16px;
    width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.post-header {
    padding-bottom: 12px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.logo-box {
    margin: 4px;
    width: 32px;
    height: 32px;
    border-radius: 100px;
}

.wheat {
    background-color: #FFC745;
}

.forest {
    background-color: #2E6B1D;
}

.locomotive {
    background-color: #C0A980;
}

.kettlebell {
    background-color: #4F4E56;
}

.coding {
    background-color: #025799;
}

.ruan {
    background-color: #4872BA;
}

.post-header-text {
    width: calc(470px - 48px);
}

h3 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

.sub-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

.post-img {
    width: 470px;
    object-fit: cover;
    object-position: center;
}

.rectangle {
    width: 470px;
    height: 300px;
}

.circle {
    border-radius: 50%;
}

.blue-4 {
    width: 256px;
    height: 256px;
    background-color: #4972BB;
}

.blue-3 {
    width: 192px;
    height: 192px;
    background-color: #7E99D1;
}

.blue-2 {
    width: 128px;
    height: 128px;
    background-color: #A3B4DF;
}

.blue-1 {
    width: 64px;
    height: 64px;
    background-color: #C6CCEE;
}

.display-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-button-bar {
    margin: 4px 0;
    padding: 8px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-button {
    padding: 3px 12px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    border: unset;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

.post-delete-button {
    background-color: rgba(0, 0, 0, 0.1);
}

.post-delete-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.post-delete-button:focus {
    background-color: rgba(0, 0, 0, 0.2);
}

.post-like-button {
    background-color: rgba(255, 0, 0, 0.1);
}

.post-like-button:hover {
    background-color: rgba(255, 0, 0, 0.2);
}

.post-like-button:focus {
    background-color: rgba(255, 0, 0, 0.2);
}

.post-like-button-activated {
    background-color: rgba(255, 0, 0, 0.2);
}

.delete-and-empty-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.post-likes {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

.comment-collector {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.comment-text {
    margin-top: 8px;
    font-size: 14px;
    line-height: 18px;
}

.form-comment {
    width: 100%;
}

.input-comment {
    padding: 0;
    width: 100%;
    border: unset;
}

input:focus {
    outline: none;
}

.contacts {
    padding-left: 64px;
    width: 319px;
}

.my-contact {
    margin-top: 36px;
    padding: 0 16px;
    width: calc(100% - 32px);
}

.contact-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.contact-text {
    width: calc(287px - 48px);
}

.recommended-contacts {
    padding: 24px 16px 8px 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: rgb(115, 115, 115);
}

.other-contacts {
    padding: 4px 16px;
}

.other-contacts-text {
    width: calc(287px - 120px);
}

.follow-button {
    width: 64px;
    font-size: 12px;
    line-height: 16px;
    color: rgb(0, 149, 246);
    background-color: white;
}

.follow-button:hover {
    color: white;
    background-color: rgba(0, 149, 246, 0.7);
}

.follow-button-activated {
    color: white;
    background-color: rgba(0, 149, 246, 0.7);
}

.dialog-box-background {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
}

.display-none {
    display: none;
}

.dialog-box {
    padding: 16px;
    width: calc(470px - 32px);
    line-height: 20px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: calc(50vh - 44px);
    left: calc(50% - 235px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.jc-space-between {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.post-form {
    width: calc(470px - 32px);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input-post {
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    border: unset;
}